header{
    padding: 30px;
    background: #BDB099 ;
    height: 40px;
}

.sidenav{
    width: 240px;
    background: #BDB099;
    position: absolute;
    height: 95vh;
    padding: 0 30px;
    
    transition: all 1s;
}

.sidenav .active{
    left: 0;
}
.sidenav img{
    width: 160px;
}
.sidenav ul{
    padding: 0;
    list-style-type: none;
}

.sidenav ul li{
    list-style-type: none;
    margin: 10px 0;
}

.sidenav ul li a{
    color: #000;
    text-decoration: none;
    font-size: 16px;
    display: block;
    padding: 10px 15px;
    border-radius: 6px;
}

.sidenav ul li a:hover,
.sidenav ul li a.active{
    background: #fff;
}